<h1>User creation page </h1>


<%= form_with(model: [@company, @user], local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :role %>
    <%= form.text_field :role %>
  </div>


  <%= form.hidden_field :company_id, value: @company.id %>

<%= form.submit%>
<% end %>